@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Be careful with entering personal information, as any data and photos submitted to this site will be stored in our database</p>
